@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/* font-family: 'IBM Plex Sans', sans-serif; */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Define vars for the root elements */
:root {
  --ff: "IBM Plex Sans", sans-serif;

  --dark-clr: #191826;
  --light-clr: #fcfaf9;

  --primary-clr: #fa7453;

  --light-blue-clr: #66e2dc;
  --light-orange-clr: #ffb964;
}

body {
  font-family: var(--ff);
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--dark-clr);
  position: relative;
  background-color: var(--light-clr);
}
.hero {
  padding: 20px 0 14px;
}
/* background of responsive mobile size  */
.hero::after {
  content: "";
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: top -197px left 139px;
  inset: 0;
}

.logo-header img {
  margin: 20px 0 59px; /*neww*/
}

/*.head-section {
  margin: 5%;
}*/ 
.head-section{
   margin-top: 3%;
}
.header-title {
  max-width: 516px;
  font-size: 54px;
  line-height: 1;
}
.sub-header {
  font-size: 1rem;
  margin-top: 29px;
}

/* second section */
.phone {
  max-width: 213px;
  margin: 0 auto;
  display: flex;
  transform: translateY(-90px);
}

.bg-container {
  /*  max-width: 88%; */
  background-color: var(--dark-clr);
  margin: 0 auto;
  border-radius: 11px 17px 0 0;
  margin-top: 377px;

  background-image: url(./assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-size: 263px;
  background-position: center;
}

/* premium section */
.premium-section {
  background-color: var(--primary-clr);
  color: var(--light-clr);
  border-radius: 12px 12px 0 0;
  margin-top: -47px;
}
.premium-content {
  padding: 38px;
}
.premium-title {
  margin-bottom: 12px;
}
.premium-paragraph {
  font-weight: lighter;
  font-size: 21px;
  margin-bottom: 12px;
}

.prize {
  font-weight: bold;
  font-size: 30px;
}
.prize span {
  font-weight: lighter;
  font-size: 15px;
}

/* btn */
.btn {
  padding: 16px 38px;
  background-color: aquamarine;
  display: flex;
  margin: 22px;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  border-radius: 9px;
}
.btn-title {
  font-size: 17px;
  color: var(--light-clr);
  margin-left: 8px;
}
.ios {
  background-color: var(--dark-clr);
}
.ios:hover {
  background-color: var(--light-blue-clr);
}
.android {
  background-color: var(--light-clr);
}
.android:hover {
  background-color: var(--light-orange-clr);
}
.btn-title-android {
  color: var(--dark-clr);
}

/* footer */
.footer-section {
  margin: 5%;
}
.footer-logo {
  margin: 67px 0 30px;
}
.footer-paragraph {
  font-size: 20px;
}
.email {
  font-weight: bold;
  color: var(--dark-clr);
  text-decoration: none;
}
.social-icons {
  margin-top: 22px;
}
.social-icons img {
  margin-left: 12px;
  cursor: pointer;
}

@media (min-width: 770px) {
  body::after {
    content: "";
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    transform: translate(0%, -2%);
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .hero::after {
    background-image: url(./assets/bg-main-tablet.png);
    background-position: top -235px right -22%;
  }
  .sub-header {
    max-width: 668px;
    font-size: 17px;
  }
  .bg-container {
    max-width: 88%;
    background-size: 247px;
    background-position: center -78px;
    border-radius: 18px;
  }
  .phone {
    transform: translate(-145px, -130px);
    max-width: 249px;
  }
  .main-section {
    position: relative;
  }
  .premium-section {
    max-width: 411px;
    position: absolute;
    top: 194px;
    right: 162px;
    border-radius: 12px;
  }
  .premium-paragraph {
    font-size: 16px;
  }
  .header-title {
    max-width: 603px;
    font-size: 76px;
  }

  .footer-section {
    margin: 10% 11%;
    position: relative;
  }

  .footer-paragraph {
    max-width: 441px;
  }
  .social-icons {
    position: absolute;
    top: 117px;
    right: 11px;
  }
}

@media (min-width: 960px) {
  /* 1080px */
 .hero::after {
    background-image: url(./assets/bg-main-desktop.png);
    background-position: center top 56%;
  }

  .logo-header img {
    margin: 0px 0 59px;
  }
  
  .head-section {
    /*margin-left: 120px;*/ /*new*/
    margin-left: 166px;
    margin-top: 70px; /*newww***/
}
  .head-content { /*new*/
    margin-top: 35px;
  }
  .header-title {
    max-width: 767px;
    margin-left: 41px; /*new*/
  }

  .bg-container {
    max-width: 76%;
  }
  .premium-section {
    top: 194px;
    right: 223px;
  }
  .footer-section {
    display: flex;
  }
  .footer-paragraph {
    margin-top: 65px;
    margin-left: 120px;
  }
  .social-icons {
    top: 54px;
    right: 11px;
  }
}

